<h2>New Apperance</h2>

<%= form_for @appearance do |f| %>
    <%= f.label "Guest: " %>
    <%= f.collection_select :guest_id, Guest.all, :id, :name %>
    
    <%= f.label "Episode: " %>
    <%= f.collection_select :episode_id, Episode.all, :id, :date %>

    <%= f.label "Rating: " %>
    <%= f.text_field :rating %>
    <%= f.label "(Rating must be 1-5)" %>

    <%= f.submit %>
<% end %>    